In [102]:
import pandas as pd

In [103]:
dataset = pd.read_csv('package.csv')
dataset.head()

   CGPA  Package
0  8.00     6.68
1  7.36     5.82
2  8.15     7.27
3  9.02     8.56
4  7.27     4.72

In [104]:
x = dataset[['CGPA']]
y = dataset['Package']

In [105]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import LeaveOneOut, LeavePOut, KFold, StratifiedKFold

In [106]:
from sklearn.model_selection import cross_val_score

p = cross_val_score(LinearRegression(),x,y,cv=KFold(n_splits=6))

In [107]:
p.sort()
p*100

array([82.28062381, 84.84286956, 89.34497477, 91.9255388 , 92.30058613,
       94.00609003])

In [108]:
new_data = dataset.head(15)

x_new = new_data[['CGPA']]
y_new = new_data['Package']

In [109]:
lo = KFold(n_splits=6)

for train, test, in lo.split(x_new,y_new):
    print(train,test)

[ 3  4  5  6  7  8  9 10 11 12 13 14] [0 1 2]
[ 0  1  2  6  7  8  9 10 11 12 13 14] [3 4 5]
[ 0  1  2  3  4  5  9 10 11 12 13 14] [6 7 8]
[ 0  1  2  3  4  5  6  7  8 11 12 13 14] [ 9 10]
[ 0  1  2  3  4  5  6  7  8  9 10 13 14] [11 12]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12] [13 14]