In [1]:
import pandas as pd

dataset = pd.read_csv('loan_application.csv')
dataset.head(5)

,Load_ID,Name,Gender,Married,Dependent,Education,Self_Employed,Application_No,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP100000,Applicant_0,Male,Yes,1,Not Graduate,No,APP1000,6392.0,7598.0,394.0,180.0,1.0,Urban,Y
1,LP100001,Applicant_1,Male,Yes,3+,Graduate,Yes,APP1001,10690.0,NaN,329.0,240.0,0.0,Rural,Y
2,LP100002,Applicant_2,Female,Yes,1,Graduate,Yes,APP1002,2521.0,2271.0,118.0,360.0,NaN,Rural,N
3,LP100003,Applicant_3,Male,Yes,1,NaN,Yes,APP1003,12613.0,14322.0,630.0,360.0,NaN,Urban,Y
4,LP100004,Applicant_4,Male,No,2,Not Graduate,No,APP1004,13795.0,NaN,593.0,NaN,NaN,NaN,N

In [2]:
dataset.shape

(1000, 15)

In [4]:
dataset.drop_duplicates(inplace=True)
dataset.shape

(1000, 15)

In [ ]:
# there is no duplicate data in the dataset so dataset.shape remains the same