In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
dataset = pd.read_csv('loan_application.csv')
dataset.head(30)

,Load_ID,Name,Gender,Married,Dependent,Education,Self_Employed,Application_No,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP100000,Applicant_0,Male,Yes,1,Not Graduate,No,APP1000,6392.0,7598.0,394.0,180.0,1.0,Urban,Y
1,LP100001,Applicant_1,Male,Yes,3+,Graduate,Yes,APP1001,10690.0,NaN,329.0,240.0,0.0,Rural,Y
2,LP100002,Applicant_2,Female,Yes,1,Graduate,Yes,APP1002,2521.0,2271.0,118.0,360.0,NaN,Rural,N
3,LP100003,Applicant_3,Male,Yes,1,NaN,Yes,APP1003,12613.0,14322.0,630.0,360.0,NaN,Urban,Y
4,LP100004,Applicant_4,Male,No,2,Not Graduate,No,APP1004,13795.0,NaN,593.0,NaN,NaN,NaN,N
5,LP100005,Applicant_5,Male,Yes,NaN,Not Graduate,Yes,APP1005,22029.0,6641.0,536.0,360.0,0.0,Rural,NaN
6,LP100006,Applicant_6,Male,Yes,3+,Graduate,Yes,APP1006,NaN,3030.0,487.0,120.0,0.0,Urban,N
7,LP100007,Applicant_7,Male,Yes,0,Not Graduate,Yes,APP1007,6938.0,12941.0,264.0,NaN,1.0,Urban,N
8,LP100008,Applicant_8,Female,Yes,NaN,NaN,No,APP1008,20209.0,14279.0,405.0,180.0,0.0,Rural,Y
9,LP100009,Applicant_9,Male,NaN,3+,Not Graduate,No,APP1009,21347.0,6068.0,128.0,240.0,0.0,Rural,N
10,LP100010,Applicant_10,NaN,Yes,1,Graduate,Yes,APP1010,14265.0,NaN,359.0,360.0,1.0,Semiurban,N
11,LP100011,Applicant_11,Male,Yes,3+,Graduate,Yes,APP1011,7640.0,7607.0,566.0,120.0,1.0,Urban,Y
12,LP100012,Applicant_12,Male,No,1,Graduate,No,APP1012,21003.0,11532.0,357.0,240.0,1.0,Rural,N
13,LP100013,Applicant_13,Male,Yes,2,Not Graduate,NaN,APP1013,5328.0,10377.0,493.0,360.0,1.0,Rural,N
14,LP100014,Applicant_14,Male,Yes,NaN,NaN,NaN,APP1014,11601.0,22.0,602.0,240.0,0.0,Rural,Y
15,LP100015,Applicant_15,Male,No,2,Graduate,Yes,APP1015,24610.0,14096.0,370.0,360.0,1.0,Semiurban,Y
16,LP100016,Applicant_16,Female,Yes,0,Not Graduate,No,APP1016,11805.0,10277.0,254.0,120.0,NaN,Semiurban,N
17,LP100017,Applicant_17,Male,Yes,3+,Not Graduate,No,APP1017,24760.0,1158.0,474.0,240.0,NaN,NaN,N
18,LP100018,Applicant_18,Female,No,2,Not Graduate,Yes,APP1018,2536.0,6305.0,461.0,180.0,1.0,Urban,N
19,LP100019,Applicant_19,Female,Yes,0,Not Graduate,Yes,APP1019,10396.0,14638.0,307.0,240.0,0.0,Urban,N
20,LP100020,Applicant_20,Male,Yes,1,Graduate,No,APP1020,15061.0,11317.0,689.0,360.0,1.0,Urban,N
21,LP100021,Applicant_21,Male,Yes,0,Graduate,Yes,APP1021,4344.0,5454.0,577.0,NaN,0.0,NaN,N
22,LP100022,Applicant_22,Female,Yes,2,Graduate,No,APP1022,NaN,NaN,514.0,240.0,1.0,Urban,NaN
23,LP100023,Applicant_23,NaN,Yes,3+,Not Graduate,NaN,APP1023,9287.0,535.0,610.0,120.0,1.0,NaN,N
24,LP100024,Applicant_24,Female,No,0,Not Graduate,Yes,APP1024,13676.0,4859.0,234.0,360.0,1.0,Rural,N
25,LP100025,Applicant_25,Male,Yes,0,Graduate,NaN,APP1025,16308.0,6977.0,69.0,360.0,1.0,Urban,N
26,LP100026,Applicant_26,Male,No,NaN,Graduate,NaN,APP1026,11416.0,12335.0,692.0,360.0,NaN,Rural,Y
27,LP100027,Applicant_27,Female,NaN,1,Not Graduate,No,APP1027,8582.0,4420.0,578.0,180.0,1.0,Rural,Y
28,LP100028,Applicant_28,Male,Yes,3+,Graduate,Yes,APP1028,18706.0,11436.0,NaN,120.0,0.0,Urban,N
29,LP100029,Applicant_29,Male,NaN,1,Not Graduate,Yes,APP1029,11406.0,10035.0,640.0,180.0,1.0,Rural,NaN

In [4]:
dataset.isnull().sum()

Load_ID                 0
Name                    0
Gender                100
Married               100
Dependent             100
Education             100
Self_Employed         100
Application_No          0
Applicant_Income      100
Coapplicant_Income    100
Loan_Amount           100
Loan_Amount_Term      100
Credit_History        100
Property_Area         100
Loan_Status           100
dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Load_ID             1000 non-null   object
 1   Name                1000 non-null   object
 2   Gender              900 non-null    object
 3   Married             900 non-null    object
 4   Dependent           900 non-null    object
 5   Education           900 non-null    object
 6   Self_Employed       900 non-null    object
 7   Application_No      1000 non-null   object
 8   Applicant_Income    900 non-null    float64
 9   Coapplicant_Income  900 non-null    float64
 10  Loan_Amount         900 non-null    float64
 11  Loan_Amount_Term    900 non-null    float64
 12  Credit_History      900 non-null    float64
 13  Property_Area       900 non-null    object
 14  Loan_Status         900 non-null    object
dtypes: float64(5), object(10)
memory usage: 117.3+ KB

In [7]:
dataset.select_dtypes(include='float64').columns

Index(['Applicant_Income', 'Coapplicant_Income', 'Loan_Amount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [9]:
from sklearn.impute import SimpleImputer

In [10]:
si = SimpleImputer(strategy='mean')
si.fit_transform(dataset[['Applicant_Income', 'Coapplicant_Income', 'Loan_Amount','Loan_Amount_Term', 'Credit_History']])

array([[6.39200000e+03, 7.59800000e+03, 3.94000000e+02, 1.80000000e+02,
        1.00000000e+00],
       [1.06900000e+04, 7.43189333e+03, 3.29000000e+02, 2.40000000e+02,
        0.00000000e+00],
       [2.52100000e+03, 2.27100000e+03, 1.18000000e+02, 3.60000000e+02,
        5.34444444e-01],
       ...,
       [2.06250000e+04, 7.43189333e+03, 1.04000000e+02, 3.60000000e+02,
        1.00000000e+00],
       [2.29900000e+03, 1.55200000e+03, 6.33000000e+02, 2.27200000e+02,
        1.00000000e+00],
       [1.64040000e+04, 9.69700000e+03, 5.84000000e+02, 2.40000000e+02,
        1.00000000e+00]])

In [11]:
ar = si.transform(dataset[['Applicant_Income', 'Coapplicant_Income', 'Loan_Amount','Loan_Amount_Term', 'Credit_History']])
pd.DataFrame(ar, columns=dataset.select_dtypes(include='float64').columns)

,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History
0,6392.0,7598.000000,394.0,180.0,1.000000
1,10690.0,7431.893333,329.0,240.0,0.000000
2,2521.0,2271.000000,118.0,360.0,0.534444
3,12613.0,14322.000000,630.0,360.0,0.534444
4,13795.0,7431.893333,593.0,227.2,0.534444
...,...,...,...,...,...
995,16549.0,7431.893333,604.0,360.0,1.000000
996,20190.0,13831.000000,640.0,120.0,1.000000
997,20625.0,7431.893333,104.0,360.0,1.000000
998,2299.0,1552.000000,633.0,227.2,1.000000
999,16404.0,9697.000000,584.0,240.0,1.000000

In [13]:
new_dataset = pd.DataFrame(ar, columns=dataset.select_dtypes(include='float64').columns)
new_dataset.isnull().sum()

Applicant_Income      0
Coapplicant_Income    0
Loan_Amount           0
Loan_Amount_Term      0
Credit_History        0
dtype: int64

In [15]:
new_dataset.head(30)

,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History
0,6392.000000,7598.000000,394.000000,180.0,1.000000
1,10690.000000,7431.893333,329.000000,240.0,0.000000
2,2521.000000,2271.000000,118.000000,360.0,0.534444
3,12613.000000,14322.000000,630.000000,360.0,0.534444
4,13795.000000,7431.893333,593.000000,227.2,0.534444
5,22029.000000,6641.000000,536.000000,360.0,0.000000
6,13298.515556,3030.000000,487.000000,120.0,0.000000
7,6938.000000,12941.000000,264.000000,227.2,1.000000
8,20209.000000,14279.000000,405.000000,180.0,0.000000
9,21347.000000,6068.000000,128.000000,240.0,0.000000
10,14265.000000,7431.893333,359.000000,360.0,1.000000
11,7640.000000,7607.000000,566.000000,120.0,1.000000
12,21003.000000,11532.000000,357.000000,240.0,1.000000
13,5328.000000,10377.000000,493.000000,360.0,1.000000
14,11601.000000,22.000000,602.000000,240.0,0.000000
15,24610.000000,14096.000000,370.000000,360.0,1.000000
16,11805.000000,10277.000000,254.000000,120.0,0.534444
17,24760.000000,1158.000000,474.000000,240.0,0.534444
18,2536.000000,6305.000000,461.000000,180.0,1.000000
19,10396.000000,14638.000000,307.000000,240.0,0.000000
20,15061.000000,11317.000000,689.000000,360.0,1.000000
21,4344.000000,5454.000000,577.000000,227.2,0.000000
22,13298.515556,7431.893333,514.000000,240.0,1.000000
23,9287.000000,535.000000,610.000000,120.0,1.000000
24,13676.000000,4859.000000,234.000000,360.0,1.000000
25,16308.000000,6977.000000,69.000000,360.0,1.000000
26,11416.000000,12335.000000,692.000000,360.0,0.534444
27,8582.000000,4420.000000,578.000000,180.0,1.000000
28,18706.000000,11436.000000,378.163333,120.0,0.000000
29,11406.000000,10035.000000,640.000000,180.0,1.000000